img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
  }

  .username {
      font-family: "Rubik", "Monospace";
  }

  .content {
    font-family: "Rubik", "Monospace";
  }

  h1 {
    font-family: "Rubik", "Monospace";
  }

  em {
      color: palevioletred;
      font-style: italic;
  }

  a {
      font-family: "Rubik", "Monospace";
      color: paleturquoise;
  }